:root {
  --topnav-height: 64px;
}

.kamina-topnav {
  display: flex;
  align-items: center;
  height: var(--topnav-height);
  background-color: var(--color-system-2);
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 0, rgba(0, 0, 0, 0.05) 0 1px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.kamina-topnav a {
  color: var(--base-font-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: var(--topnav-height);
  padding-left: var(--space);
  padding-right: var(--space);
}

.kamina-topnav a.-active {
  background-color: var(--color-system-3);
  box-shadow: inset 0 2px 0 var(--color-accent);
}
